@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family:'Work Sans', sans-serif;
    color: #333;
}

section {
    margin: 2rem;
}

h1 {
    font-size: 4rem;
}

.subline {
    font-size: 1.2rem;
}